# The source chain is the chain that the light client will sync from.
CONSENSUS_RPCS_LIST=
SOURCE_EXECUTION_RPC_URL=
SOURCE_CHAIN_ID=

# Set to mock for testing, or network to generate proofs on the Succinct Prover Network.
SP1_PROVER=mock

# Required by `cargo run --bin genesis`. Always needed to derive the deployer/updater address.
PRIVATE_KEY=

# Required by `cargo run --bin genesis` when SP1_PROVER=network.
SP1_VERIFIER_ADDRESS=
VKEY_UPDATER=

# Optional override for contract updaters. Comma-separated addresses.
UPDATERS=

# Redis (required for zk-api)
REDIS_URL=redis://127.0.0.1:6379
REDIS_KEY_PREFIX=sp1-helios
